<div class="tabContentWrapper">
    <div class="chartWrapper">
        <app-bar-chart [barData]="ing1Data" [barLabels]="ing1Label" [xLabel]="xLabel" [yLabel]="yLabel">
        </app-bar-chart>
    </div>
    <div class="chartWrapper">
        <app-bar-chart [barData]="ing2Data" [barLabels]="ing2Label" [xLabel]="xLabel" [yLabel]="yLabel">
        </app-bar-chart>
    </div>
    <div class="chartWrapper">
        <app-bar-chart [barData]="priceCompData" [barLabels]="priceCompLabel" [xLabel]="xLabel" [yLabel]="yLabel">
        </app-bar-chart>
    </div>
</div>