<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Research and Development
        </div>
        <div class="chartsWrapper">
            <div class="height100 width50 pullLeft">
                <div class="chartWrapper" style="width: 100%;">
                    <div class="paddingDiv">
                        <div style="height: calc(100% - 2rem);">
                            <app-doughnut-chart [donutData]="donutData" [donutLabels]="donutLabels"
                                (clicked)="donutClicked($event)" [chartName]="'abc'"></app-doughnut-chart>
                        </div>
                        <div class="flex alignCenter justCenter" style="height: 2rem;">Original recipe Composition</div>
                    </div>
                </div>
                <div class="chartWrapper" style="width: 100%;">
                    <div class="paddingDiv" style="width: 100%;">
                        <mat-card style="background: gray; color: white;">
                            Alternate Ingredients' List <span> For: Ing {{altIngindex + 1}}</span>
                        </mat-card>
                        <div style="height: 77%; overflow: auto;">
                            <div *ngFor="let alt of altIngs" style="overflow: auto; ">
                                <mat-card style="background: lightgray;">{{alt}}</mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chartWrapper" style="height: 100%;">
                <div class="paddingDiv">
                    <mat-card style="background: gray; color: white;">Cost Simulator</mat-card>
                    <div style="height: 80%; overflow: auto;">
                        <mat-card class="alignCenter justSB" style="display: flex;"
                            *ngFor="let altIngs of altIngsAll; let i = index; trackBy: trackByIndex">
                            <span>Ing {{i+1}} </span>
                            <i class="material-icons">repeat</i>
                            <mat-form-field>
                                <mat-label>Select alternate Ingredient</mat-label>
                                <mat-select>
                                    <mat-option
                                        *ngFor="let altIng of altIngsAll[i]; let index = index; trackBy: trackByIndex"
                                        [value]="altIngsAll[i][index]">
                                        {{altIngsAll[i][index]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card>
                    </div>
                    <mat-card class="flex alignCenter justSB" style="display: flex; background: lightgray;">
                        <button mat-raised-button color="primary" (click)="calcUpdatedCost()"> Generate updated
                            cost</button>
                        <div><span style="font-weight: bold;">{{updatedCost}}</span> / (Original Cost): 10</div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>