.chartWrapper{
    width: 50%;
    height: 50%;
    float: left;
}
mat-card{
    margin-bottom: 1rem;
}
mat-card span{
    width: 10rem;
}
mat-form-field{
    width: 20rem;
}
button{
    outline: none;
}