<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Product Performance
        </div>
        <div class="chartsWrapper">
            <mat-tab-group>
                <mat-tab label="Volume">
                    <div class="salesWow"></div>
                </mat-tab>
            </mat-tab-group>
            <div id="d3chart">
                
            </div>
        </div>
    </div>
</div>