.headerWrapper{
    background: #00003c;
    color: white;
    padding: 0 1rem;
    height: 5rem;
    position: fixed;
    top: 0;
    font-size: 1.5rem;
    z-index: 2;
    box-shadow: 0px 3px 5px black;
}
.material-icons{
    font-size: 40px;
    cursor: pointer;
}
.material-icons:focus{
    outline: 0
}