<div class="headerWrapper width100 flex alignCenter justSB ">
    <div class="flex alignCenter justLeft">
        <i class="material-icons" routerLink='/home'>home</i>
        <span style="margin: 0 15px;">Product Decision Engine</span>
    </div>
    <div class="flex alignCenter justRight height100">
        <div class="height100">
            <img class="height100 padd1rem routerImgWrapper" src="../../assets/images/portfolio.png" alt="" srcset=""  routerLink='/portfolio'>
        </div>
        <div class="height100">
            <img class="height100 padd1rem routerImgWrapper" src="../../assets/images/commercial_white.png" alt="" srcset="" routerLink='/commercial'>
        </div>
        <div class="height100">
            <img class="height100 padd1rem routerImgWrapper" src="../../assets/images/rnd.png" alt="" srcset="" routerLink='/rnd'>
        </div>
        <div class="height100">
            <img class="height100 padd1rem routerImgWrapper" src="../../assets/images/logistics.jpg" alt="" srcset="" routerLink='/logistics'>
        </div>
        <div class="height100">
            <img class="height100 padd1rem routerImgWrapper" src="../../assets/images/sustain.jpg" alt="" srcset="" routerLink='/sustainability'>
        </div>
    </div>
</div>