<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Commercials
        </div>
        <div class="chartsWrapper">
            <div class="chartWrapper">
                <app-doughnut-chart [donutData]="donutData" [donutLabels]="donutLabels" (clicked)="donutClicked($event)"
                    [chartName]="'abc'" (clicked)="donutClicked($event)" ></app-doughnut-chart>
            </div>
            <div class="chartWrapper" style="width: 100%;">
                <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="bubbleData"></app-bubble-chart>
            </div>
        </div>
    </div>
</div>