<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters [view]="'comm'"></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Commercials
        </div>
        <div class="chartsWrapper">
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="bubbleData"
                        (clicked)="scatterClicked($event)" [bubbleName]="'ingDist'"></app-bubble-chart>
                </div>
            </div>
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-line-chart [lineData]="trendLineData" [lineLabels]="trendLineLabels" [xLabel]="'Months'"
                        [yLabel]="'Cost($)'" width="100%" height="100%" [chartColor]="trendLineColor">
                    </app-line-chart>
                </div>
            </div>
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <div class="suppDistyLabel title" style="width: 1rem; height: 100%; float: left;">
                        <div style="transform: rotate(270deg);">Price</div>
                    </div>
                    <div style="width: calc(100% - 1rem); height: calc(100% - 1rem); float: left;">
                        <div class="chartWrapper" style="width: 50%;">
                            <div class="paddingDiv" style="padding: 0;">
                                <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="suppDistData1"
                                    (clicked)="scatterClicked($event)" [bubbleName]="'suppDist'"></app-bubble-chart>
                            </div>
                        </div>
                        <div class="chartWrapper" style="width: 50%;">
                            <div class="paddingDiv" style="padding: 0;">
                                <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="suppDistData2"
                                    (clicked)="scatterClicked($event)" [bubbleName]="'suppDist'"></app-bubble-chart>
                            </div>
                        </div>
                        <div class="chartWrapper" style="width: 50%;">
                            <div class="paddingDiv" style="padding: 0;">
                                <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="suppDistData3"
                                    (clicked)="scatterClicked($event)" [bubbleName]="'suppDist'"></app-bubble-chart>
                            </div>
                        </div>
                        <div class="chartWrapper" style="width: 50%;">
                            <div class="paddingDiv" style="padding: 0;">
                                <app-bubble-chart [xLabel]="xLabel" [yLabel]="yLabel" [bubbleChartData]="suppDistData4"
                                    (clicked)="scatterClicked($event)" [bubbleName]="'suppDist'"></app-bubble-chart>
                            </div>
                        </div>
                    </div>
                    <div style="width: calc(100% - 1rem); height: 1rem;" class="alignCenter flex justCenter title">TCI</div>
                </div>
            </div>
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-bubble-chart [xLabel]="suppTrendxLabel" [yLabel]="yLabel" [bubbleChartData]="suppTrendData"
                        (clicked)="scatterClicked($event)" [bubbleName]="'suppTrend'"></app-bubble-chart>
                </div>
            </div>
        </div>
    </div>
</div>