<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters [view]="'comm'"></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Commercials
        </div>
        <div class="chartsWrapper">
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-bubble-chart 
                        [xLabel]="xLabel" 
                        [yLabel]="yLabel" 
                        [bubbleChartData]="bubbleData"
                        (clicked)="scatterClicked($event)"
                        [bubbleName]="'ingDist'"></app-bubble-chart>
                </div>
            </div>
            <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-line-chart [lineData]="trendLineData" [lineLabels]="trendLineLabels" [xLabel]="'Months'"
                        [yLabel]="'Cost($)'" width="100%" height="100%" [chartColor]="trendLineColor">
                    </app-line-chart>
                </div>
            </div>
            <!-- <div class="chartWrapper" style="width: 50%;">
                <div class="paddingDiv">
                    <app-bubble-chart 
                        [xLabel]="'TCI'" 
                        [yLabel]="yLabel" 
                        [bubbleChartData]="suppDistData"
                        (clicked)="scatterClicked($event)"
                        [bubbleName]="'suppDist'"></app-bubble-chart>
                </div>
            </div> -->
            <div class="chartWrapper" style="width: 100%;">
                <div class="paddingDiv">
                    <app-bubble-chart 
                        [xLabel]="suppTrendxLabel" 
                        [yLabel]="yLabel" 
                        [bubbleChartData]="suppTrendData"
                        (clicked)="scatterClicked($event)"
                        [bubbleName]="'suppTrend'"></app-bubble-chart>
                </div>
            </div>
        </div>
    </div>
</div>