<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters [view]="'pp'"></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Sustainability Overview
        </div>
        <div class="chartsWrapper">
            <div class="height100 width100 flex alignCenter justSE">
                <mat-card >
                    <div>Total Consumer Packaging (Weight)</div>
                    <div class="overviewNos flex alignCenter justCenter">798.63</div>
                </mat-card>
                <mat-card >
                    <div>% Recyclable Status</div>
                    <div class="overviewNos flex alignCenter justCenter">98.3%</div>
                </mat-card>
                <mat-card >
                    <div>Estimated EPR fee</div>
                    <div class="overviewNos flex alignCenter justCenter">0.5M</div>
                </mat-card>
            </div>
        </div>
    </div>
</div>