<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Product Performance
        </div>
        <div class="chartsWrapper">
            <div class="salesWow">
                <app-line-chart [lineData]="lineChartData" [lineLabels]="lineChartLabels" [xLabel]="xLabel"
                    [yLabel]="yLabel" width="100%" height="100%">
                </app-line-chart>
            </div>
            <div class="salesWow">
                <app-bar-chart [barData]="barData" [barLabels]="barLabels" [xLabel]="xLabel" [yLabel]="yLabel">
                </app-bar-chart>
            </div>
            <div class="salesWow">
                <app-line-chart [lineData]="lineChartDataMulti" [lineLabels]="lineChartLabelsMulti" [xLabel]="xLabel"
                    [yLabel]="yLabel" width="100%" height="100%">
                </app-line-chart>
            </div>
            <div class="salesWow">
                <app-bar-chart [barData]="barDataMulti" [barLabels]="barLabelsMulti" [xLabel]="xLabel"
                    [yLabel]="yLabel">
                </app-bar-chart>
            </div>
        </div>
    </div>
</div>