.salesWow{
    width: 50%;
    height: 100%;
    float: left;
    padding: 1rem;
}
.chartsWrapper{
    width: 100%;
    height: 100%;
    float: left;
}
.tabTitle{
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
}
.tabBody{
    width: 80%;
    height: calc(100% - 5rem);
    float: left;
}
:host ::ng-deep .mat-tab-body-wrapper {
    height: 300px;
}
.donutHolder{
    width: 30%;
}
.multiChartHolder{
    width: 70%;
}