.filterContent{
    height: 100%;
    background: white;
    border-right: 1px solid grey;
    width: calc(100% - 1px);
}
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}
.filterHeader{
    background: #000092;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}
.filterBody{
    padding: 1rem;
    color: black;
}
.filterSectionHolder{
    margin-bottom: 1rem;
}