<div class="filterContent">
    <div class="col-12 flex alignCenter justSB filterHeader">
        <div>Select Filters</div>
        <div class="flex alignCenter justCenter pointer" (click)="toggleFilters()">
            <i class="material-icons">filter_list</i>
        </div>
    </div>
    <div class="col-12" class="filterBody">
        <div class="filterSectionHolder">
            <app-multi-select [data]='["Segment1", "Segment2", "Segment3", "Segment4", "Segment5", "Segment6"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Segment'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='["RegionA", "RegionB", "RegionC", "RegionD", "RegionE", "RegionF"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Region'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='["PlantA", "PlantB", "PlantC", "PlantD", "PlantE", "PlantF"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Plant'">
            </app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='["CategoryA", "CategoryB", "CategoryC", "CategoryD", "CategoryE", "CategoryF"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Category'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='["BrandA", "BrandB", "BrandC", "BrandD", "BrandE", "BrandF"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Brand'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select
                [data]='["Pack Type A", "Pack Type B", "Pack Type C", "Pack Type D", "Pack Type E", "Pack Type F"]'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Pack Type'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='["SKUA", "SKUB", "SKUC", "SKUD", "SKUE", "SKUF"]' [styles]="{'font-size': '1rem'}"
                [index]="1" [allowAlias]="false" (optionSelected)="selectionDone($event)" [filterFor]="'SKU'">
            </app-multi-select>
        </div>
    </div>
</div>