<div class="filterContent">
    <div class="col-12 flex alignCenter justSB filterHeader">
        <div>Select Filters</div>
        <div class="flex alignCenter justCenter pointer" (click)="toggleFilters()">
            <i class="material-icons">filter_list</i>
        </div>
    </div>
    <div class="col-12" class="filterBody">
        <div class="filterSectionHolder">
            <app-multi-select [data]="segmentData"
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Segment'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='categoryData'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Category'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='regionData'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Region'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='plantData'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Plant'">
            </app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='brandData'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Brand'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select
                [data]='packTypeData'
                [styles]="{'font-size': '1rem'}" [index]="1" [allowAlias]="false"
                (optionSelected)="selectionDone($event)" [filterFor]="'Pack Type'"></app-multi-select>
        </div>
        <div class="filterSectionHolder">
            <app-multi-select [data]='skuData' [styles]="{'font-size': '1rem'}"
                [index]="1" [allowAlias]="false" (optionSelected)="selectionDone($event)" [filterFor]="'SKU'">
            </app-multi-select>
        </div>
    </div>
</div>