<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Inbound Logistics
        </div>
        <div class="chartsWrapper flex alignCenter justCenter">
            <div class="chartWrapper multiChartHolder" style="width: 70%; height: 70%;">
                <app-bar-chart [barData]="logisticsMulti" [barLabels]="logisticsMultiLabels" [xLabel]="xLabel" [yLabel]="yLabel"
                    [chartColor]="'#04A777'">
                </app-bar-chart>
            </div>
        </div>
    </div>
</div>