<div class="tabContentWrapper">
    <div class="noPadding filterWrapper">
        <app-filters [view]="'log'"></app-filters>
    </div>
    <div class="tabBody">
        <div class="tabTitle flex alignCenter justCenter">
            Inbound Logistics
        </div>
        <div class="chartsWrapper flex alignCenter justCenter">
            <div class="chartWrapper multiChartHolder" style="width: 80%; height: 70%;">
                <div class="paddingDiv">
                    <div class="flex justCenter">Demand Coverage and Requirement graph</div>
                    <div style="height: 90%;">
                        <app-bar-chart [barData]="logisticsMulti" [barLabels]="logisticsMultiLabels" [xLabel]="xLabel"
                            [yLabel]="yLabel" [chartColor]="'#04A777'">
                        </app-bar-chart>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>