<div class="tabContentWrapper flex alignCenter justSE row noPadding">
    <div class="routerImgWrapper col-xs-6 col-sm-6 col-md-3 col-lg-3 noPadding flex flexDirCol alignCenter" routerLink='/rnd'>
        <img src="../../assets/images/rnd.png" alt="" srcset="">
        <span class="routerTitle">Research and Development</span>
    </div>
    <div class="routerImgWrapper col-xs-6 col-sm-6 col-md-3 col-lg-3 noPadding flex flexDirCol alignCenter" routerLink='/portfolio'>
        <img src="../../assets/images/portfolio.png" alt="" srcset="">
        <span class="routerTitle">Product Portfolio</span>
    </div>
    <div class="routerImgWrapper col-xs-6 col-sm-6 col-md-3 col-lg-3 noPadding flex flexDirCol alignCenter" routerLink='/logistics'>
        <img src="../../assets/images/logistics.jpg" alt="" srcset="">
        <span class="routerTitle">Inbound Logistics</span>
    </div>
    <div class="routerImgWrapper col-xs-6 col-sm-6 col-md-3 col-lg-3 noPadding flex flexDirCol alignCenter" routerLink='/commercial'>
        <img src="../../assets/images/commercial.png" alt="" srcset="">
        <span class="routerTitle">Commercials</span>
    </div>
</div>